.pattern-comparisons {

  .comparison-columns {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: scroll;
    border-top: 1px solid gray;
    margin-top: 10px;
  }

  .row-name {
    position: sticky;
    left: 0;
    border-right: 1px solid gray;
    background-color: white;
    align-self: stretch;
    margin: 0;
  }

  .patterns-row {
    display: flex;
    flex-flow: row nowrap;
    & > * {
      width: 200px;
      flex-shrink: 0;
      padding: 0px 10px;
    }

    .pattern-column {
      width: 400px;
    }
  }

  .patterns-diagram img {
    width: 100%;
  }
}
